@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


:root {
    --primary-color: #BF5700;
    --secondary-color: #2b4162;
    --accent-color: #FFA07A;
    --white: #fff;
  }
  
  body {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('your-background-image.jpg'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    color: var(--secondary-color);
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-top: 0;
    color: var(--primary-color);
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .employment-history {
    margin-bottom: 40px;
  }
  
  .skills, .developer-skills {
    margin-bottom: 40px;
  }
  
  .card {
    background-color: var(--accent-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    color: var(--white);
  }
  
  .card p {
    color: var(--white);
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: darken(var(--primary-color), 10%);
  }
  